@media only screen and (min-width: 375px) {
  .top-left-img {
    background-image: url("../images/bg-pattern-top-mobile.svg");
    background-repeat: no-repeat;
    height: 375px;
  }
  .main-title {
    font-size: 35px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    text-align: center;
    z-index: 2;
  }
  .main-desc {
    font-size: 15px;
    font-weight: 400px;
    color: hsl(303, 10%, 53%);
    text-align: center;
    margin-top: 25px;
  }
  #f-cont {
    margin-top: -302px;
  }
  #top-right-col {
    margin-left: 15px;
    margin-top: 20px;
  }
  .first-str {
    margin-top: 20px;
    width: 325px;
    height: 85px;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding-top: 10px;
  }
  .second-str {
    margin-top: 20px;
    width: 325px;
    height: 8s5px;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding-top: 10px;
  }
  .third-str {
    margin-top: 20px;
    width: 325px;
    height: 85px;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding-top: 10px;
  }
  .str {
    text-align: center;
  }
  .text {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding-top: 17px;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    padding-left: 100px;
    padding-right: 100px;
  }
  .top-left-img {
    background-image: url("../images/bg-pattern-top-desktop.svg");
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
  }
  .main-title {
    font-size: 50px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    text-align: left;
    z-index: 2;
  }
  .main-desc {
    font-size: 15px;
    font-weight: 400px;
    color: hsl(303, 10%, 53%);
    text-align: left;
  }
  #f-cont {
    margin-top: -600px;
  }
  #top-right-col {
    margin-left: 0px;
  }
  .first-str {
    margin-top: 20px;
    display: flex;
    width: 450px;
    height: 65px;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-left: 80px;
  }
  .second-str {
    margin-top: 20px;
    display: flex;
    width: 450px;
    height: 65px;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-left: 140px;
  }
  .third-str {
    margin-top: 20px;
    display: flex;
    width: 450px;
    height: 65px;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-left: 240px;
  }
  .str {
    flex: 50%;
    text-align: center;
    margin-left: -80px;
  }
  .text {
    flex: 50%;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 15px;
    text-align: left;
    padding-top: 17px;
    margin-left: -80px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "spartan", sans-serif;
}
